.footer-container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 75px 0;
    margin: auto;
}

.footer-logo {
    width: 225px;
    height: auto;
}

.r-column-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.links-column {
    width: fit-content;
}

.footer-links-list {
    padding: 0;
    margin: 0;
}

.footer-links-list li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-links-list li a {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    font-weight: 200;
}