.mission-section {
    position: relative;
    background-color: #EB3300;
    border-radius: 48px;
    padding: 64px 20px 0 20px;
    overflow: hidden;
}

.mission-background-image {
    position: absolute;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.icon-cards-container {
    margin: 45px 0;
}

.icon-card {
 background-color: white;
 height: 100%;
 border-radius: 24px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 32px;
}

.icon-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.icon-card a {
    color: #EB3300;
    font-weight: 600;
    text-emphasis: none;
}

.mission-image {
    height: 465px;
    width: 100%;
    object-fit: cover;
    margin-top: 64px;
    border-radius: 24px 24px 0 0;
}

@media (max-width: 768px) {
    .mission-section {
        border-radius: 24px;
    }

    .icon-cards-container {
        margin: 40px 0;
    }

    .content {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }

    .content-heading, .descriptive-paragraph {
        width: 100%;
        text-align: center;
    }

    .mission-image {
        height: 350px;
    }
}