.navigation-bar-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 16px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease, border 0.3s ease;
    background: transparent;
    border-bottom: 1px solid transparent;
}

.navigation-bar-container.scrolled {
  padding-top: 0;
  background: #2E2320;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.navigation-bar {
  max-width: 1440px;
  width: 100%;
  padding: 12px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;
}

.nav-logo {
  height: 45px;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 7px 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.3s ease;
  display: inline-block; 
}

.nav-links a:hover {
  color: #ff8969;
  transform: translateY(-1px);
}

.nav-btn {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.give-btn {
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
}

.menu-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  color: #000;
}

.menu-btn img {
  width: 18px;
  height: 18px;
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}


/* Mobile Menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2E2320;
  padding: 32px 24px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
}

.mobile-menu.active {
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav-links {
  list-style: none;
  padding-top: 80px;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mobile-nav-links li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 20px 0;
  transition: color 0.3s ease;
}

.mobile-nav-links a:hover {
  color: #ff8969;
}

.mobile-give-btn {
  width: 100%;
  margin-bottom: 24px;
  padding: 14px 16px;
  font-size: 16px;
  background-color: #ED4B1E;
}

.mobile-user {
  justify-content: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;

  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}


@media (max-width: 1024px) {
  .nav-center {
    gap: 12px;
    padding: 7px 12px;
  }
  
  .nav-links {
    gap: 12px;
  }
  
  .nav-links a {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .nav-center .nav-links,
  .nav-center .give-btn,
  .nav-user {
    display: none;
  }

  .navigation-bar{
    padding: 12px 28px;
  }
  
  .nav-logo {
    height: 40px;
  }

  .nav-center {
    background: transparent;
    backdrop-filter: none;
    border: none;
    padding: 0;
  }
  
  .menu-btn {
    display: flex;
  }
  
  .mobile-menu {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}