/* =========================
   WELCOME 
========================= */

.welcome-section {
  margin: 100px auto;
}

.welcome-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2E2320;
  margin-bottom: 0;
}

.welcome-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2E2320;
  margin-bottom: 0;
}

.welcome-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 24px;
  border-radius: 24px;
}

@media (max-width: 768px) {
  .welcome-section {
    margin: 50px auto;
    padding: 0 16px;
  }

  .welcome-section .content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .welcome-section .content > * {
    width: 100%;
  }

  .welcome-section .content .descriptive-paragraph {
    text-align: left;
  }
}